body{



}

.App{
  display: flex;
  justify-content: center;
}
{
  box-sizing: border-box;
  outline: none;
}






.product_list {
  flex: 1;
  display:block;
  padding: 40px 32px 40px 56px;
}

h1 {
  position: relative;
  letter-spacing: -0.18px;
  font-size: 30px;
  line-height: 24px;
}

.section_title {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(33, 34, 64, 0.16);
}

.subtitles {
  position: relative;
  width: 100%;
  padding: 40px 0;
  list-style: none;
}



.row {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
